## Some Ways For Creating Data Frames

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data/003_weather.csv')
df.head()

       day event  temperature  windspeed
0   4/3/33  Rain         35.0        1.0
1  5/12/22  Snow         34.0        6.0
2  6/14/21  Rain          NaN       23.0
3  5/12/22  Rain         32.0        6.0
4  5/13/22  Rain          NaN        3.0

In [5]:
df = pd.read_excel('data/003_weather_excel.xlsx',"weather")
df.head()

         day event  temperature  windspeed
0 1933-04-03  Rain         35.0        1.0
1 2022-05-12  Snow         34.0        6.0
2 2021-06-14  Rain          NaN       23.0
3 2022-05-12  Rain         32.0        6.0
4 2022-05-13  Rain          NaN        3.0

In [7]:
weather_data = {
    'day': ['1/1/2017', '1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,28],
    'event': ['Rain', "Sunny", 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28         28   Snow

In [8]:
weather_data = [
    ('1/1/2017', 32, 6,'Rain'),
    ('1/2/2017', 35, 7,'Sunny'),
    ('1/3/2017', 38, 2,'Snow')
]
df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           38          2   Snow

In [9]:
weather_data = [
    { 'day': '1/1/2017', 'temperature': 32,'windspeed': 6, 'event': 'Rain'}, 
    { 'day': '1/2/2017', 'temperature': 35,'windspeed': 7, 'event': 'Sunny'}, 
    { 'day': '1/3/2017', 'temperature': 38,'windspeed': 2, 'event': 'Snow'},     
]
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           38          2   Snow